body{
    background-color: aliceblue;
}
#container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: rgb(255, 166, 0);
}
.container1 {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    padding: 30px;
    text-align: right;

}
.heading{
    text-align: center;
}